#cloud-config
network:
  version: 1
  config:
  - type: physical
    name: enX0
    subnets:
      - type: static
        address: ${ip_address}/${ip_subnet_mask}
        gateway: ${ip_internal_gateway}
        dns_nameservers: [ ${ip_internal_dns_servers} ]
        dns_search:
          - ${internal_domain}
